html,body 
{
  text-align: center;
}
.button{
  font-size: 30px;
}
.errors
{
      background-color: #fff;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
}
.success
{
    background-color: #e2f8d7;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
}
